[Unit]
Description=Run recover-youtube-videos

[Service]
Type=oneshot
ExecStart=<GOBIN_PATH>/recover-youtube-videos <DATA_DIRECTORY_PATH>
Restart=on-failure
RestartSec=5min
